<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet"/>

    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>
</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>数据管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a th:href="@{'/data/item?id='+${itemId}+'&name='+${itemName}}" th:text="${itemName}">默认</a>
                    </li>
                    <li class="active">
                        <strong style="color: red" th:text="${typeName}">默认</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>编辑</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" th:action="'/data/item/edit?itemId='+${itemId}+'&itemName='+${itemName}+'&typeName='+${typeName}" method="POST" class="form-horizontal"
                                  enctype="multipart/form-data">
                                <input id="id" name="id" type="hidden" class="form-control" th:value="${item.id}"/>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">0°C：</label>
                                    <div class="col-sm-10">
                                        <input id="zero" name="zero" type="number" class="form-control"
                                               th:value="${item.zero}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">10°C：</label>
                                    <div class="col-sm-10">
                                        <input id="one" name="one" type="number" class="form-control"
                                               th:value="${item.one}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">20°C：</label>
                                    <div class="col-sm-10">
                                        <input id="two" name="two" type="number" class="form-control"
                                               th:value="${item.two}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">30°C：</label>
                                    <div class="col-sm-10">
                                        <input id="three" name="three" type="number" class="form-control"
                                               th:value="${item.three}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">40°C：</label>
                                    <div class="col-sm-10">
                                        <input id="four" name="four" type="number" class="form-control"
                                               th:value="${item.four}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">50°C：</label>
                                    <div class="col-sm-10">
                                        <input id="five" name="five" type="number" class="form-control"
                                               th:value="${item.five}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">60°C：</label>
                                    <div class="col-sm-10">
                                        <input id="six" name="six" type="number" class="form-control"
                                               th:value="${item.six}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">70°C：</label>
                                    <div class="col-sm-10">
                                        <input id="seven" name="seven" type="number" class="form-control"
                                               th:value="${item.seven}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">80°C：</label>
                                    <div class="col-sm-10">
                                        <input id="eight" name="eight" type="number" class="form-control"
                                               th:value="${item.eight}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">90°C：</label>
                                    <div class="col-sm-10">
                                        <input id="nine" name="nine" type="number" class="form-control"
                                               th:value="${item.nine}"/>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">100°C：</label>
                                    <div class="col-sm-10">
                                        <input id="ten" name="ten" type="number" class="form-control"
                                               th:value="${item.ten}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>
<!-- Sweet alert -->
<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

<script th:inline="javascript">
    var msg = [[${msg}]];
    console.log(msg);
    $(document).ready(function () {
        if (msg != null) {
            swal({
                title: "温馨提示",
                text: msg
            });
        }

        //初始化编辑器
        $('#summernote').summernote({
            height: 300,
            codemirror: {
                mode: 'text/html',
                htmlMode: true,
                lineNumbers: true,
                theme: 'monokai'
            }
        });
        //编辑器赋值

        //提交
        $("#submitButton").click(function () {

            $("#formTag").submit();
        });
    });
</script>

</body>

</html>
